
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">School Student</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">หน้าแรก</a>
          <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับโรงเรียน</a>
          <a class="nav-link" href="{% url 'form' %}">บันทึกประวัตินักเรียน</a>
        </div>
      </div>
    </div>
  </nav>